body {background-color: #294D61;
    margin: 0;
    padding: 0;
  font-family: 'Poppins', sans-serif;
  }
  
  header {
    background-color: #05161A;
    color: white;
    padding: 20px;
  }
  .arindam { text-shadow: 5px 5px 10px #294D61;
  font-family: 'Concert One', sans-serif;
    margin: 30;
    margin-left: 50;
    color: #99C9C1;
    font-size: 60px;
    text-align: center;
    }
    .arindam:hover{
        text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.485);
        color: rgb(255, 255, 255);
        transition: 1s;
    }
  
  #body  {margin: 1%;
       background-color: #0C7073;
   margin-left: 0px;
   font-size: 30px;
   font-family: 'Concert One', sans-serif;
  }
  #website{ font-size: 54px;
      margin:10px;
      margin-left: 0;
      background-color: #0C7073;
      font-family: 'Concert One', sans-serif;
      
  }
  
  #button_div{ padding: 1%; 
      display:  flex ;
        
        justify-content: space-around;
      background-color: #0C7073;
  }
  .button{ font-size: larger;
  text-decoration: none;
  color: #99C9C1;
   margin-left: 90;
  margin: 20px;
      background-color: #072E33;
    border: 3px solid #05161A;
  padding: 5px;
  border-radius: 10px;
  font-family: 'Concert One', sans-serif;
  
  }
  .button:hover{
      background-color: beige;
      color: #05161A;
      transition: 2s;
  }
  .arin{
      color: rgb(221, 112, 112);
  }
  iframe{ height: 50vw;
  width: 70vw;
  align-items: center;
  margin-left: 15%;
  
  }
  hr{
      border-color:#05161A;
  }
  #contact {
      background-color: #05161A;
      margin-top: 15px;
  }
  #details{padding: 10px;
  padding-bottom: 20px;
      display: flex;
      justify-content: space-around;
      height: 10vh;
     
      margin: 0px;
  }
  .con{
      font-size: 18px;
      color:white;
      margin-left: 10px;
  
  }
  .qwerty{
      font-size: 18px;
      color: white;
      text-decoration: none;
      margin-top: 13px;
  }
  
  #iframe{
    background-color: #0C7073;
  }

  #vid_sol{
    margin: 1%;
       background-color: #0C7073;
   margin-left: 0px;
   font-size: 30px;
   text-align: center;
   font-family: 'Concert One', sans-serif;
  }

  #prj_sol{
    margin: 1%;
       background-color: #0C7073;
   margin-left: 0px;
   font-size: 30px;
   text-align: center;
   font-family: 'Concert One', sans-serif;
  }

  #sol_link{
    margin: 1%;
   margin-left: 0px;
   font-size: 30px;
   text-align: center;
   font-family: 'Concert One', sans-serif;
  }